openapi: 3.0.3
info:
  title: Coalition X API
  description: |    
    KPI fields support three formats (all automatically normalized): `kpi_X-X`, `X-X`, or full field names.
    See the KpiFieldMapping schema below for the complete mapping.
  version: 2.0.0

servers:
  - url: https://api.coalition-x.com
    description: Production
  - url: https://staging-api.coalition-x.com
    description: Staging
  - url: http://localhost:3000
    description: Local Development

tags:
  - name: Health
    description: Health check endpoints
  - name: Authentication
    description: OAuth 2.0 authentication and token management
  - name: Assets
    description: Building/Asset management and KPI submissions
  - name: Submissions
    description: Submission tracking and history
  - name: Partner Sync
    description: Accredited partner data sync from POM+ (requires partner:org-sync scope)
  - name: Admin
    description: Administrative endpoints (admin only)

paths:
  # ============================================================================
  # Health
  # ============================================================================
  /api/health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns API health status
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-01-15T10:30:00Z"

  # ============================================================================
  # Authentication
  # ============================================================================
  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticates a user with email/password and returns OAuth tokens
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: securePassword123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/auth/register:
    post:
      tags:
        - Authentication
      summary: User registration
      description: Registers a new user and organization, returns OAuth tokens
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                name:
                  type: string
                organizationName:
                  type: string
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/auth/token:
    post:
      tags:
        - Authentication
      summary: OAuth 2.0 token endpoint
      description: |
        Exchanges credentials for access tokens. Supports multiple grant types:
        - `client_credentials`: M2M authentication via client_id + client_secret
        - `refresh_token`: Refresh an expired access token
        - `api_key`: Legacy API key exchange (backward compatibility)
        
        Also accepts `X-API-Key` header for backward compatibility.
      operationId: getToken
      parameters:
        - name: X-API-Key
          in: header
          description: API key for legacy authentication (alternative to grant_type=api_key)
          schema:
            type: string
          required: false
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ClientCredentialsRequest'
                - $ref: '#/components/schemas/RefreshTokenRequest'
                - $ref: '#/components/schemas/ApiKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ClientCredentialsRequest'
                - $ref: '#/components/schemas/RefreshTokenRequest'
                - $ref: '#/components/schemas/ApiKeyRequest'
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Logs out user and clears session cookie
      operationId: logout
      security:
        - BearerAuth: []
        - CookieAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out successfully

  /api/auth/introspect:
    post:
      tags:
        - Authentication
      summary: Token introspection (RFC 7662)
      description: Validates and inspects an access token
      operationId: introspectToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
      responses:
        '200':
          description: Token introspection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrospectionResponse'

  /api/auth/revoke:
    post:
      tags:
        - Authentication
      summary: Token revocation (RFC 7009)
      description: Revokes an access or refresh token
      operationId: revokeToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
      responses:
        '200':
          description: Token revoked (always returns 200 per RFC 7009)

  # ============================================================================
  # Assets
  # ============================================================================
  /api/assets:
    get:
      tags:
        - Assets
      summary: List assets
      description: Lists all assets (buildings) for the authenticated organization
      operationId: listAssets
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Search by name or address
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [name, createdAt, updatedAt]
            default: createdAt
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: List of assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Assets
      summary: Create asset
      description: Creates a new asset (building)
      operationId: createAsset
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/assets/{id}:
    get:
      tags:
        - Assets
      summary: Get asset details
      description: Retrieves detailed information about a specific asset
      operationId: getAsset
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssetDetails'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
        - Assets
      summary: Update asset
      description: Updates an existing asset
      operationId: updateAsset
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
      responses:
        '200':
          description: Asset updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Asset'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
        - Assets
      summary: Delete asset
      description: Deletes an asset
      operationId: deleteAsset
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/assets/{id}/kpis:
    get:
      tags:
        - Assets
      summary: Get KPI history
      description: Retrieves KPI submission history for an asset
      operationId: getAssetKpis
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: version
          in: query
          description: Get specific data version
          schema:
            type: integer
      responses:
        '200':
          description: KPI history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KpiRecord'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Assets
      summary: Submit KPI data
      description: Submits KPI data for a specific asset
      operationId: submitAssetKpis
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KpiSubmissionRequest'
      responses:
        '200':
        '201':
          description: KPI data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KpiSubmissionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/assets/kpis:
    post:
      tags:
        - Assets
      summary: Submit KPIs by identifier
      description: Submits KPIs using asset_id or external_id (for partners)
      operationId: submitKpisByIdentifier
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - kpis
              properties:
                asset_id:
                  type: string
                  description: Internal asset ID
                external_id:
                  type: string
                  description: Partner's external identifier
                kpis:
                  $ref: '#/components/schemas/KpiData'
                schema_version:
                  type: string
                  default: "2.0"
                idempotency_key:
                  type: string
      responses:
        '200':
        '201':
          description: KPI data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KpiSubmissionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/assets/batch:
    post:
      tags:
        - Assets
      summary: Batch KPI submission
      description: |
        Submits KPIs for multiple assets in a single request.
        Maximum 100 items per batch.
        
        Each item can specify either `asset_id` (existing) or `external_id` (will create if not exists).
      operationId: batchSubmitKpis
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                schema_version:
                  type: string
                  default: "2.0"
                items:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - kpis
                    properties:
                      external_id:
                        type: string
                      asset_id:
                        type: string
                      name:
                        type: string
                      address:
                        type: string
                      kpis:
                        $ref: '#/components/schemas/KpiData'
                idempotency_key:
                  type: string
      responses:
        '201':
          description: All items processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSubmissionResponse'
        '207':
          description: Partial success (some items failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSubmissionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/assets/external/{externalId}:
    get:
      tags:
        - Assets
      summary: Get asset by external ID
      description: Retrieves an asset and its latest KPI data by external ID
      operationId: getAssetByExternalId
      security:
        - BearerAuth: []
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset with latest KPIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      asset:
                        $ref: '#/components/schemas/AssetDetails'
                      kpis:
                        $ref: '#/components/schemas/KpiRecord'
                        nullable: true
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================================================
  # Submissions
  # ============================================================================
  /api/submissions:
    get:
      tags:
        - Submissions
      summary: List submissions
      description: Lists all submissions for the authenticated organization
      operationId: listSubmissions
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, PROCESSING, SUCCESS, PARTIAL_SUCCESS, FAILED]
        - name: validationStatus
          in: query
          schema:
            type: string
            enum: [PENDING, PASSED, FAILED]
        - name: submissionType
          in: query
          schema:
            type: string
            enum: [SINGLE, BATCH]
        - name: sourceTag
          in: query
          schema:
            type: string
            enum: [PARTNER, CLIENT, ADMIN]
      responses:
        '200':
          description: List of submissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Submission'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================================================
  # Partner Sync
  # ============================================================================
  /api/partner-requests:
    post:
      tags:
        - Partner Sync
      summary: Sync accredited partner
      description: |
        Receives accredited partner data from POM+ and automatically creates
        an Organization (ACCREDITED_PARTNER, ACTIVE) with OAuth credentials
        and a User linked to it. Requires the `partner:org-sync` scope.
      operationId: syncPartner
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerSyncRequest'
      responses:
        '201':
          description: Accredited partner created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Conflict - user with this email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================================
  # Admin
  # ============================================================================
  /api/admin/organizations:
    get:
      tags:
        - Admin
      summary: List organizations
      description: Lists all ACCREDITED_PARTNER organizations (admin only)
      operationId: listOrganizations
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, ACTIVE, SUSPENDED, INACTIVE]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
      summary: Create organization
      description: Creates a new organization (admin only)
      operationId: createOrganization
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  organization:
                    $ref: '#/components/schemas/Organization'
                  credentials:
                    type: object
                    description: Only present if type is ACCREDITED_PARTNER
                    properties:
                      client_id:
                        type: string
                      client_secret:
                        type: string
                  warning:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/organizations/{id}:
    get:
      tags:
        - Admin
      summary: Get organization
      description: Retrieves organization details (admin only)
      operationId: getOrganization
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    $ref: '#/components/schemas/OrganizationDetails'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    patch:
      tags:
        - Admin
      summary: Update organization
      description: Updates an organization (admin only)
      operationId: updateOrganization
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  organization:
                    $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags:
        - Admin
      summary: Delete organization
      description: Soft deletes (deactivates) an organization (admin only)
      operationId: deleteOrganization
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization deactivated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  note:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/organizations/{id}/activate:
    post:
      tags:
        - Admin
      summary: Activate organization
      description: Activates a pending organization (admin only)
      operationId: activateOrganization
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  organization:
                    $ref: '#/components/schemas/Organization'
                  nextStep:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/organizations/{id}/credentials:
    get:
      tags:
        - Admin
      summary: Get credentials status
      description: Checks if organization has OAuth credentials (admin only)
      operationId: getCredentialsStatus
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Credentials status
          content:
            application/json:
              schema:
                type: object
                properties:
                  credentials:
                    type: object
                    properties:
                      hasCredentials:
                        type: boolean
                      clientId:
                        type: string
                      clientSecretConfigured:
                        type: boolean
                  actions:
                    type: object
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Admin
      summary: Generate OAuth credentials
      description: |
        Generates or rotates OAuth 2.0 client credentials for an organization (admin only).
        The client_secret is only shown ONCE in the response.
      operationId: generateCredentials
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                rotate:
                  type: boolean
                  default: false
                  description: If true, rotates existing credentials (invalidates old tokens)
      responses:
        '200':
        '201':
          description: Credentials generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  credentials:
                    type: object
                    properties:
                      client_id:
                        type: string
                      client_secret:
                        type: string
                  warning:
                    type: string
                  usage:
                    type: object
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/audit-logs:
    get:
      tags:
        - Admin
      summary: List audit logs
      description: Lists audit logs (admin only)
      operationId: listAuditLogs
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: action
          in: query
          schema:
            type: string
        - name: resource
          in: query
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
        - name: organizationId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 JWT access token
    CookieAuth:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie for web UI

  schemas:
    # Authentication
    ClientCredentialsRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          enum: [client_credentials]
        client_id:
          type: string
        client_secret:
          type: string
        scope:
          type: string

    RefreshTokenRequest:
      type: object
      required:
        - grant_type
        - refresh_token
      properties:
        grant_type:
          type: string
          enum: [refresh_token]
        refresh_token:
          type: string

    ApiKeyRequest:
      type: object
      required:
        - grant_type
        - api_key
      properties:
        grant_type:
          type: string
          enum: [api_key]
        api_key:
          type: string

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          description: Token lifetime in seconds
        expires_at:
          type: string
          format: date-time
        scope:
          type: string

    LoginResponse:
      allOf:
        - $ref: '#/components/schemas/TokenResponse'
        - type: object
          properties:
            user:
              type: object
              properties:
                id:
                  type: string
                email:
                  type: string
                name:
                  type: string
                  nullable: true
                role:
                  type: string
            organization:
              type: object
              nullable: true
              properties:
                id:
                  type: string
                name:
                  type: string
                type:
                  type: string

    RegisterResponse:
      allOf:
        - $ref: '#/components/schemas/TokenResponse'
        - type: object
          properties:
            user:
              type: object
              properties:
                id:
                  type: string
                email:
                  type: string
                name:
                  type: string
                  nullable: true
            organization:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string

    IntrospectionResponse:
      type: object
      properties:
        active:
          type: boolean
        scope:
          type: string
        client_id:
          type: string
        username:
          type: string
        token_type:
          type: string
        exp:
          type: integer
        iat:
          type: integer
        iss:
          type: string
        aud:
          type: string
        sub:
          type: string
        org_id:
          type: string
        role:
          type: string

    # Assets
    CreateAssetRequest:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        description:
          type: string
        externalId:
          type: string

    UpdateAssetRequest:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        description:
          type: string
        externalId:
          type: string

    Asset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        externalId:
          type: string
          nullable: true
        dataSource:
          type: string
          enum: [API, WEB, IMPORT]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        kpiRecordCount:
          type: integer

    AssetDetails:
      allOf:
        - $ref: '#/components/schemas/Asset'
        - type: object
          properties:
            sourceTag:
              type: string
              nullable: true
            latestKpi:
              type: object
              nullable: true
              properties:
                id:
                  type: string
                dataVersion:
                  type: integer
                validationStatus:
                  type: string
                kpiData:
                  type: object
                createdAt:
                  type: string
                  format: date-time

    # KPIs
    KpiData:
      type: object
      description: |
        KPI data object. Supports three input formats (all automatically normalized):
        - API format: `kpi_1-1`, `kpi_3-1` (recommended)
        - Number format: `1-1`, `3-1`
        - Full field names: `Building_Permit_Date_Of_Building_Permit_Application`
        
        See KpiFieldMapping schema for complete mapping.
      additionalProperties: true
      example:
        kpi_1-1: "2025-01-15"
        kpi_1-2: 2020
        kpi_3-1: "OFFICE"
        kpi_5-1: 5000
        kpi_6-1: "YES_CM"
        kpi_7-8: "CONSUMPTION_BASED"
        kpi_8-1: "HEAT_PUMP"
        kpi_9-1: 12.5
        kpi_9-2: 28.3

    KpiSubmissionRequest:
      type: object
      required:
        - kpis
      properties:
        schema_version:
          type: string
          default: "2.0"
        kpis:
          $ref: '#/components/schemas/KpiData'
        idempotency_key:
          type: string

    KpiSubmissionResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            assetId:
              type: string
            dataVersion:
              type: integer
            validationStatus:
              type: string
            kpiData:
              type: object
            createdAt:
              type: string
              format: date-time
        transactionId:
          type: string
        idempotent:
          type: boolean

    KpiRecord:
      type: object
      properties:
        id:
          type: string
        assetId:
          type: string
        dataVersion:
          type: integer
        validationStatus:
          type: string
          enum: [PENDING, PASSED, FAILED]
        kpiData:
          type: object
        schemaVersion:
          type: string
        createdAt:
          type: string
          format: date-time

    BatchSubmissionResponse:
      type: object
      properties:
        transactionId:
          type: string
        total:
          type: integer
        success_count:
          type: integer
        failure_count:
          type: integer
        schema_version:
          type: string
        results:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              external_id:
                type: string
              asset_id:
                type: string
              status:
                type: string
                enum: [success, failed]
              kpi_record_id:
                type: string
              data_version:
                type: integer
              validation_status:
                type: string
              errors:
                type: array
                items:
                  type: object
                  properties:
                    field:
                      type: string
                    code:
                      type: string
                    message:
                      type: string

    # Submissions
    Submission:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        userId:
          type: string
          nullable: true
        submissionType:
          type: string
          enum: [SINGLE, BATCH]
        resourceType:
          type: string
        sourceTag:
          type: string
          enum: [PARTNER, CLIENT, ADMIN]
        status:
          type: string
          enum: [PENDING, PROCESSING, SUCCESS, PARTIAL_SUCCESS, FAILED]
        validationStatus:
          type: string
          enum: [PENDING, PASSED, FAILED]
        totalRecords:
          type: integer
        successCount:
          type: integer
        failureCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true

    # Partner Sync
    PartnerSyncRequest:
      type: object
      required:
        - user_id
        - email
        - org_id
        - tech_provider_id
        - user_role
        - accreditation_flag
        - did
        - initial_secret
        - time_stamp
      properties:
        user_id:
          type: string
          description: External user identifier from POM+
        email:
          type: string
          format: email
          description: User email address
        org_id:
          type: string
          description: External organization identifier from POM+
        tech_provider_id:
          type: string
          description: Technology provider identifier
        user_role:
          type: string
          description: User role in the partner system
        accreditation_flag:
          type: string
          enum: [Yes, No]
          description: Whether the partner is accredited
        did:
          type: string
          description: Decentralized identifier
        initial_secret:
          type: string
          minLength: 8
          description: Initial secret/credential (stored hashed, never logged in plaintext)
        time_stamp:
          type: string
          format: date-time
          description: Timestamp of the sync event (ISO 8601)

    PartnerSyncResponse:
      type: object
      properties:
        syncId:
          type: string
          description: ID of the stored sync record
        organization:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            clientId:
              type: string
        credentials:
          type: object
          description: OAuth credentials for the newly created organization (shown once)
          properties:
            clientId:
              type: string
            clientSecret:
              type: string
        userId:
          type: string
          description: ID of the created user
        message:
          type: string

    # Organizations
    CreateOrganizationRequest:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          type: string
          enum: [ACCREDITED_PARTNER, CLIENT]
        contactEmail:
          type: string
          format: email
        contactName:
          type: string
        description:
          type: string

    UpdateOrganizationRequest:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [PENDING, ACTIVE, SUSPENDED, INACTIVE]

    Organization:
      type: object
      properties:
        id:
          type: string
        clientId:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [ACCREDITED_PARTNER, CLIENT, ADMIN]
        status:
          type: string
          enum: [PENDING, ACTIVE, SUSPENDED, INACTIVE]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        userCount:
          type: integer
        assetCount:
          type: integer

    OrganizationDetails:
      allOf:
        - $ref: '#/components/schemas/Organization'
        - type: object
          properties:
            hasApiKey:
              type: boolean
            counts:
              type: object
              properties:
                users:
                  type: integer
                assets:
                  type: integer
                apiTokens:
                  type: integer

    # Audit Logs
    AuditLog:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
        resource:
          type: string
        resourceId:
          type: string
          nullable: true
        userId:
          type: string
          nullable: true
        organizationId:
          type: string
          nullable: true
        ipAddress:
          type: string
          nullable: true
        userAgent:
          type: string
          nullable: true
        payload:
          type: object
        createdAt:
          type: string
          format: date-time

    # Common
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        details:
          type: object

    # KPI Field Mapping
    KpiFieldMapping:
      type: object
      description: |
        Complete mapping of KPI codes to field names. The API accepts three formats:
        - API format: `kpi_1-1`, `kpi_3-1` (recommended)
        - Number format: `1-1`, `3-1`
        - Full field names: `Building_Permit_Date_Of_Building_Permit_Application`
        
        All formats are automatically normalized to the internal field names.
      properties:
        "1-1":
          type: string
          example: Building_Permit_Date_Of_Building_Permit_Application
        "1-2":
          type: string
          example: Building_Permit_Year_Of_Construction
        "2-1":
          type: string
          example: Renovation_Year_Of_Last_Energy_Renovation
        "2-2":
          type: string
          example: Renovation_Type_Of_Last_Energy_Renovation
        "3-1":
          type: string
          example: Building_Use_Type_Primary_Use_Of_Building
        "4-1":
          type: string
          example: Use_For_Fossil_Fuels_Usage_For_Extraction_Storage_Transport_Or_Manufacture_Of_Fossil_Fuels
        "5-1":
          type: string
          example: Surface_Measure_Usable_Area_heated_Or_Cooled
        "5-2":
          type: string
          example: Surface_Measure_Useful_Internal_Floor_Area_heated_Or_Cooled
        "5-3":
          type: string
          example: Surface_Measure_Gross_External_Area_IPMS_1
        "5-4":
          type: string
          example: Surface_Measure_Total_Gross_Internal_Area_IPMS_2
        "5-5":
          type: string
          example: Surface_Measure_Rental_Area
        "6-1":
          type: string
          example: Taxonomy_Alignment_Object_Activity_Is_Taxonomy_Aligned
        "7-1":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC
        "7-2":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC_Class
        "7-3":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC_Primary_Energy_Consumption
        "7-4":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC_Primary_Energy_Demand
        "7-5":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC_End_Energy_Consumption
        "7-6":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC_End_Energy_Demand
        "7-7":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC_Expiry_Date
        "7-8":
          type: string
          example: Energy_Performance_Certificate_EPC_Energy_Performance_Certificate_EPC_Type
        "8-1":
          type: string
          example: Energy_Consumption_Heating_Medium
        "8-2":
          type: string
          example: Energy_Consumption_End_Energy_Consumption_Actual
        "8-3":
          type: string
          example: Energy_Consumption_End_Energy_Consumption_Table
        "9-1":
          type: string
          example: GHG_Emissions_Direct_GHG_Emissions_Generated_In_On_Real_Estate_Asset
        "9-2":
          type: string
          example: GHG_Emissions_Indirect_GHG_Emissions_Generated_From_Energy_Usage_In_On_Real_Estate_Asset
        "9-3":
          type: string
          example: GHG_Emissions_Other_Indirect_GHG_Emissions
        "9-4":
          type: string
          example: GHG_Emissions_Estimated_Emissions_Percentage
        "9-5":
          type: string
          example: GHG_Emissions_Market_Or_Location_Based
        "9-6":
          type: string
          example: GHG_Emissions_Provider_Specific_Emission_Factor

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - Invalid or missing token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
